.about {
  // height: calc(100vh - 15.65rem);
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 5rem;

  &__intro {
    // margin-bottom: 2rem;
    font-size: 2.4rem;
    font-family: $font-intro-text;
    letter-spacing: 0.322vw;
    width: 100%;
    display: flex;

    align-items: center;
    justify-content: center;

    // padding-bottom: 10%;

    &__heading {
      font-size: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media only screen and (max-width: $bp-medium) {
        font-size: 8rem;
      }
      @media only screen and (max-width: $bp-x-medium) {
        font-size: 6rem;
      }
      @media only screen and (max-width: $bp-small) {
        font-size: 5rem;
      }
    }

    &__subheading {
      width: 50%;
      letter-spacing: 0.2rem;
      letter-spacing: 0.322vw;
      line-height: 2.8rem;
      // text-align: center;

      @media only screen and (max-width: $bp-large) {
        width: 73%;
      }
      @media only screen and (max-width: $bp-medium) {
        width: 70%;
      }
      @media only screen and (max-width: $bp-x-medium) {
        width: 100%;
      }
      @media only screen and (max-width: $bp-small) {
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 0;
      text-align: center;
      height: 26vh;

      @media only screen and (max-width: $bp-large) {
        height: 100%;
      }
    }
  }

  & h1 {
    font-size: 5.6rem;
    color: $color-off-white;
    // color: $color-dark-grey;
    text-transform: none;
    font-weight: 300;

    & span {
      // font-size: 7rem;
    }
  }

  & p span {
    font-size: 2.4rem;
  }

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 32rem;
    word-break: break-all;
    line-height: 0.8;
  }

  &__emoji {
    font-size: 7rem;
  }
}

.mobile-text {
  @media only screen and (min-width: $bp-small) {
    display: none;
  }

  &--question {
    margin-top: 4rem;
  }
}

.hover-texts {
  @media only screen and (max-width: $bp-small) {
    display: none;
  }
}

.you-smart-gif-mobile {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.troy-abed-handshake-gif-mobile {
  width: 100%;
  margin-top: 1rem;

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.profile-pic__container--mobile {
  position: relative;

  & img {
    width: 100%;
  }

  & .profile-pic {
    height: auto;

    &--wave-emoji {
      font-size: 4rem;
      position: absolute;
      left: 3.5rem;
      bottom: 3rem;
      font-family: $font-intro-text;
    }
  }

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}
