.about {
  // height: calc(100vh - 15.65rem);
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 5rem;

  &__intro {
    font-size: 2.4rem;
    font-family: $font-intro-text;
    width: 100%;
    display: flex;
    justify-content: center;

    &__heading {
      font-size: 5.6rem;
      color: $color-off-white;
      text-transform: none;
      font-weight: 300;
      margin: 0;
      margin-top: 4rem;
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 65rem;

      @media only screen and (max-width: $bp-medium) {
        width: 50rem;
      }

      @media only screen and (max-width: $bp-x-medium) {
        width: 100%;
      }
      @media only screen and (max-width: $bp-small) {
      }
    }

    &__bio {
      & p {
        text-transform: none;
        font-size: 1.5rem;
        font-weight: 300;
        margin-top: 3rem;
      }

      @media only screen and (max-width: $bp-large) {
        // width: 73%;
      }
      @media only screen and (max-width: $bp-medium) {
        // width: 70%;
      }
      @media only screen and (max-width: $bp-x-medium) {
        // width: 100%;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;

      & ul {
        font-size: 1.2rem;
        font-family: $font-secondary;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        padding-left: 3rem;
        list-style-type: square;
      }

      & h2 {
        font-size: 2.4rem;
        font-family: $font-heading;
        font-weight: 300;
        border-bottom: 2.5px solid $color-off-white;
      }

      &__skills {
        display: grid;
        grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end col-3-start] 1fr [col-3-end col-4-start] 1fr [col-4-end];
        grid-template-rows: 1fr;

        @media only screen and (max-width: $bp-small) {
          grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 1fr [col-2-end];
          grid-template-rows: 1fr 1fr;
        }

        &--languages {
          @media only screen and (max-width: $bp-small) {
            grid-column: col-1-start / col-1-end;
            grid-row: 1 / 2;
          }
        }

        &--frameworks {
          @media only screen and (max-width: $bp-small) {
            grid-column: col-2-start / col-2-end;
            grid-row: 1 / 2;
          }
        }

        &--libraries {
          @media only screen and (max-width: $bp-small) {
            grid-column: col-1-start / col-1-end;

            grid-row: 2 / 3;
          }
        }

        &--devtools {
          @media only screen and (max-width: $bp-small) {
            grid-column: col-2-start / col-2-end;
            grid-row: 2 / 3;
          }
        }
      }

      &__get-in-touch {
        margin-top: 5rem;
      }

      &--arrow-down {
        & svg {
          fill: $color-off-white;
          opacity: 1;
          width: 2.5rem;
          height: 2.5rem;
          // margin-top: 0.8rem;
          margin-bottom: 1rem;
          // margin-left: 0.4rem;
        }
      }

      @media only screen and (max-width: $bp-large) {
        height: 100%;
      }
    }
  }

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 32rem;
    word-break: break-all;
    line-height: 0.8;
  }

  &__emoji {
    font-size: 7rem;
  }
}

.mobile-text {
  @media only screen and (min-width: $bp-small) {
    display: none;
  }

  &--question {
    margin-top: 4rem;
  }
}

.outro-gifs {
  text-align: center;
  margin-top: 2rem;

  & .gif {
    margin: 6.5rem 0;
    width: 40rem;

    @media only screen and (max-width: $bp-small) {
      width: 100%;
    }
  }

  & p {
    font-size: 2rem;
    text-transform: none;

    & span {
      // class =  hover-text-1 & hover-text-2
      // FOR THE GIFS OVER HOVER TEXTS
      // font-size: 2.4rem;
    }
  }
}

.cursor img {
  width: 38rem;
}

.you-smart-gif-mobile {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.call-me-gif-mobile {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.troy-abed-handshake-gif-mobile {
  width: 100%;
  margin-top: 1rem;

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}

.profile-pic__container--mobile {
  position: relative;

  & img {
    width: 100%;
  }

  & .profile-pic {
    height: auto;

    &--wave-emoji {
      font-size: 4rem;
      position: absolute;
      left: 3.5rem;
      bottom: 3rem;
      font-family: $font-intro-text;
    }
  }

  @media only screen and (min-width: $bp-small) {
    display: none;
  }
}
