.footer {
  width: 100%;
  padding: 2.5rem 0;
  grid-column: 2/3;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  padding: 0 15%;
  margin-bottom: 10rem;
  margin-bottom: 8rem;
  align-items: center;

  &__line-break {
    @media screen and (max-width: $bp-small) {
      display: none;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;

    &--email {
      font-size: 11rem;
      font-weight: 300;

      @media only screen and (max-width: $bp-large) {
        font-size: 7rem;
      }
      @media only screen and (max-width: $bp-x-medium) {
        font-size: 3rem;
      }
    }

    &--email-border {
      width: 100%;
      margin-bottom: 9.1rem;
    }
  }

  &__icon {
    width: 1.1rem;
    transition: all 0.3s ease;

    &--download {
      margin-right: 0.2rem;
      margin-bottom: 0.2rem;
    }

    &--external-link {
      width: 1.4rem;
      transform: rotate(-45deg);
      margin-bottom: 0rem;
    }
  }

  &__cover--bottom {
    position: fixed;
    bottom: 0;
    right: 5rem;
    height: 25px;
    width: 60px;
    background-color: $color-dark-grey;
    // background-color: white;
  }
}

.contacts {
  display: flex;

  & a {
    color: inherit;
    color: $color-off-white;
    text-decoration: none;
    transition: all 0.3s ease;
    // transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);

    position: relative;
    overflow: hidden;
    opacity: 0.7;

    @media only screen and (max-width: $bp-small) {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    & p {
      margin: 0;
      // line-height: 1.1;
      color: $color-off-white;
      // color: $color-dark-grey;

      // option 2
      font-family: $font-intro-text;
      font-size: 1.4rem;
      font-size: 1.6rem;
      letter-spacing: 0.5rem;
      // margin: .4rem 0;
    }
  }

  & a .footer__icon {
    opacity: 0;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-right: 1.3rem;

    @media only screen and (max-width: $bp-small) {
      opacity: 0.7;
    }

    &--github {
      margin-right: 1.5rem;
    }
  }

  & a:hover .footer__icon {
    opacity: 1;
  }
}
