.footer {
  position: fixed;
  bottom: 0;
  right: 5rem;
  width: min-content;
  padding: 2.5rem 0;
}

.contacts {
  width: fit-content;
  margin-left: auto;

  & li {
    list-style: none;

    & a {
      color: inherit;
      text-decoration: none;

      & p {
        margin: 0;
        line-height: 1.1;
      }
    }
  }
}
