html {
  font-size: 62.5%; // 100% of base font size set in browser (16px by default)
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $color-dark-grey;
  color: $color-light-grey;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  font-family: $font-heading;
  font-style: normal;
}

p {
  font-family: $font-secondary;
  font-weight: 500;
  font-size: 1.2rem;
}
