.header {
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  right: 5rem;
  width: 100%;
}

.navbar-item {
  &__container {
    width: 100%;
    display: flex;

    & a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__about {
    margin-left: auto;
  }
}
