.projects {
  width: 100%;
  // height: 100vh;
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  margin-top: 5rem;
  // background-color: $color-off-white;
  // color: $color-dark-grey;
  margin-bottom: 25rem;

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 30rem;
    word-break: break-all;
    line-height: 0.8;
    position: fixed;
    top: 27rem;
  }

  &__card {
    width: min-content;
    display: flex;
    margin-left: 16%;
    margin-top: 15rem;
    margin-bottom: 15rem;
    // background-color: $color-off-white;

    &__img {
      transition: transform 0.2s ease-in-out;
    }

    &:hover .projects__card__img {
      // transform: scale(1.02);
    }

    &__wrapper {
      width: 75%;
    }

    &__headings {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid $color-off-white;

      & h3 {
        color: $color-off-white;
        margin-bottom: .2rem;
        font-weight: 300;
        
      }
    }

    &__subheading h4 {
      color: $color-off-white;
      margin-top: 1.5rem;

    }

    &__text {
      width: 40rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__container {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color-off-white;
        padding-bottom: 0.2rem;
      }

      &--number h1 {
        color: $color-dark-grey;
        color: $color-off-white;
        font-weight: 300;
        font-size: 6.4rem;
        margin: 0;
      }

      &--headings {
        margin-left: 3.5rem;

        & h3 {
          text-transform: uppercase;
        }
        & h3,
        h4 {
          margin: 0;
          margin-top: 0.6rem;
          color: $color-off-white;
        }
      }
    }
  }
}

.number__02 {
  font-size: 19rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-off-white;
  padding-bottom: 3rem;
  line-height: 0.8;
  width: min-content;
  // border-color: $color-dark-grey;
  position: fixed;
  top: 5rem;
}

.scroll-top {
  &__btn {
    text-align: center;
    width: min-content;
    margin-top: 5rem;
    padding-left: 6.2%;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__text {
    margin: 0;
  }

  &--arrow-up {
    width: 1.6rem;
  }
}
