.projects {
  width: 100%;
  height: 100vh;
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  margin-top: 5rem;
  padding-top: 5rem;

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 30rem;
    word-break: break-all;
    line-height: 0.8;
  }
}

.number__02 {
  font-size: 19rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-light-grey;
  width: min-content;
}

.scroll-top {
  width: min-content;

  &__btn {
    text-align: center;
  }

  &__p {
    margin: 0;
  }

  &--arrow-up {
    width: 1.6rem;
  }
}
