.projects {
  width: 100%;
  height: 100vh;
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  margin-top: 5rem;
  // background-color: $color-light-grey;
  // color: $color-dark-grey;

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 30rem;
    word-break: break-all;
    line-height: 0.8;
  }
}

.number__02 {
  font-size: 19rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-light-grey;
  width: min-content;
  // border-color: $color-dark-grey;
}

.scroll-top {
  &__btn {
    text-align: center;
    width: min-content;
    margin-top: 5rem;
    padding-left: 6.2%;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__text {
    margin: 0;
  }

  &--arrow-up {
    width: 1.6rem;
  }
}
