// Colors
$color-dark-grey: #171717;
// $color-light-grey: #e3dede;
$color-off-white: #FAF9F6;
$color-loading-screen: #0a0a0a;

// Fonts
$font-heading: mono45-headline, monospace;
$font-secondary: "Heebo", sans-serif;
