.about {
  // height: 89vh;
  height: calc(100vh - 15.65rem);
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  margin-top: 5rem;
  // background-color: $color-off-white;
  // color: $color-dark-grey;
  // margin-bottom: 20rem;

  &__intro {
    // margin-bottom: 2rem;
    font-size: 2.4rem;
    font-family: $font-intro-text;
    letter-spacing: 0.322vw;
    width: 100%;
    // height: 45vh;

    display: flex;

    align-items: center;
    justify-content: center;

    // padding-bottom: 10%;

    &__heading {
      font-size: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      & span {
        // text-decoration: underline;
        // text-decoration-thickness: 0.4rem;
        // text-underline-offset: 1.6rem;
      }
    }

    &__subheading {
      width: 50%;
      letter-spacing: 0.2rem;
      letter-spacing: 0.322vw;
      // line-height: 2rem;
      line-height: 2.8rem;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 4rem 0;
    }
  }

  & h1 {
    font-size: 5.6rem;
    color: $color-off-white;
    // color: $color-dark-grey;
    text-transform: none;
    font-weight: 300;

    & span {
      // font-size: 7rem;
    }
  }

  & p span {
    font-size: 2.4rem;
  }

  // & p {
  //   // font-family: "Bebas Neue", cursive;
  //   font-size: 3.6rem;
  //   font-size: 2.2rem;
  //   color: $color-off-white;
  //   // color: $color-dark-grey;

  //   text-transform: none;
  //   font-weight: 300;

  //   & span {
  //     font-weight: 500;
  //     font-size: 2.8rem;
  //   }
  // }

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 32rem;
    word-break: break-all;
    line-height: 0.8;
  }

  &__emoji {
    font-size: 7rem;
  }
}

.number__03 {
  font-size: 19rem;
  margin: 0;
  font-weight: 300;
  line-height: 0.8;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-off-white;
  width: min-content;
  padding-bottom: 5rem;
}
