.header {
  padding: 2.5rem 0;
  position: fixed;
  top: 0;
  right: 6rem;
  width: 100%;
  z-index: 9000;
  width: min-content;
}

// .navbar {
//   width: 100%;
// }

.navbar-link {
  width: 100%;
  display: flex;

  & a {
    color: inherit;
    text-decoration: none;
  }

  &__cover {
    height: 12px;
    width: 40px;
    background-color: $color-dark-grey;
    margin-left: auto;
    position: fixed;
    top: 9rem;
    right: 6rem;
    z-index: 9001;
  }

  &__about {
    margin-left: auto;
  }
}
