@import "globals";
$bar-width: 3rem;
$bar-height: 0.4rem;
$bar-spacing: 1rem;

.home__hamburger-btn,
.home__hamburger-btn::after,
.home__hamburger-btn:before {
  width: $bar-width;
  height: $bar-height;
}

.home {
  width: 100%;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  margin-top: 3rem;

  &__intro {
    // margin-bottom: 2rem;
    font-size: 2.4rem;
    font-family: $font-intro-text;
    letter-spacing: 0.5rem;
    letter-spacing: 0.322vw;
    width: 100%;
    height: 45vh;

    display: flex;

    align-items: center;
    justify-content: center;

    // padding-bottom: 10%;

    &__heading {
      font-size: 12rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__subheading {
      // width: 85%;
      width: 92%;
    }

    & .emoji {
      font-size: 5rem;
    }
  }

  &__header {
    width: 100%;
    border-bottom: 1.5px solid $color-off-white;
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    @media only screen and (max-width: $bp-small) {
      border-bottom: unset;
      padding-bottom: unset;
    }
  }

  &__folio {
    margin: 0;
    font-family: $font-intro-text;
    font-family: $font-heading;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    grid-column: 2 / 3;
    grid-row: 1 / -1;
    width: fit-content;
    margin: 0 auto;

    @media only screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__hamburger-btn {
    position: relative;
    transform: translateY($bar-spacing);
    background: rgba(250, 249, 246, 1);
    transition: all 0ms 300ms;
    z-index: 9003;

    &__container {
      display: none;
      grid-column: 3 / 4;
      grid-row: 1 / -1;
      position: absolute;
      top: 3.6rem;
      right: 3vw;
      width: $bar-width;
      height: $bar-height + $bar-spacing * 2;
      cursor: pointer;
      // margin-left: auto;

      @media only screen and (max-width: $bp-medium) {
        display: block;
      }
    }

    &.animate-btn {
      background: rgba(250, 249, 246, 0);

      &:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }

      &:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: $bar-spacing;
      background: rgba(250, 249, 246, 1);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: $bar-spacing;
      background: rgba(250, 249, 246, 1);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
  }

  &__heading {
    margin: 0;
    font-family: $font-intro-text;
    // font-family: $font-heading;
    font-size: 2.4rem;
    font-weight: 400;
    letter-spacing: 1.2rem;
    padding-bottom: 0.5rem;
    width: fit-content;

    &__container {
      grid-column: 1 / 2;
      grid-row: 1 / -1;

      & a {
        text-decoration: none;
        color: inherit;
      }

      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / -1;
      }
    }
  }

  &__subheading {
    margin: 0;
    font-family: $font-intro-text;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.2em;

    & div {
      width: fit-content;
    }
  }
}

.content {
  // padding-left: 55%;
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__hero {
    margin-left: 15%;
    & h1 {
      font-size: 25rem;
      font-weight: 300;
    }
  }

  &__subcontent {
    width: 50rem;
    margin-right: 15%;

    & h2 {
      font-size: 2.4rem;
      // letter-spacing: 0;
      // vertical-align: middle;
      // line-height: 3.8;
      font-family: europa, sans-serif;
      font-weight: 400;
    }
  }
  &__subtext {
    padding-left: 0.7rem;
    max-width: 56rem;
    // font-size: 1.5rem;
  }
}

// .number {
//   font-family: $font-heading;
//   font-style: normal;

//   &__01 {
//     font-size: 19rem;
//     margin: 0;
//     font-weight: 300;
//     line-height: 0.8;
//     border-bottom: 5px solid $color-off-white;
//     width: min-content;
//     padding-bottom: 3rem;
//     // margin-bottom: 5rem;
//   }
// }

.name {
  margin: 0;
  // line-height: 0.8;
  font-size: 19rem;
  // letter-spacing: 0.3rem;
  padding-left: 14rem;

  // Option 2
  // font-family: "Bebas Neue", cursive;
  // letter-spacing: 1.5rem;
  // line-height: normal;
  // font-size: 12rem;

  //Option 3
  font-family: europa, sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;

  &__container {
    // width: 50%;
  }

  &__first {
    font-weight: 300;
    padding-top: 8%;
    //Abolition
    font-family: abolition, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  &__last {
    font-weight: 300;
    opacity: 0.6;

    font-size: 5.6rem;
  }
}

.projects__btn {
  width: fit-content;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;

  &__cover {
    position: absolute;
    width: 75px;
    height: 25px;
    bottom: -2.2rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: $color-dark-grey;
  }

  & p {
    margin: 0;
  }

  & a {
    color: inherit;
    text-decoration: none;
  }

  &--arrow-down-icon {
    width: 1.6rem;
    color: inherit;
    transition: all 0.2s ease;
  }

  &:hover .projects__btn--arrow-down-icon {
    transform: translateY(20px);
    opacity: 0;
  }
}
