.project__game-save {
  grid-column: 2 /3;
  grid-row: 2 / 3;
  margin-top: 10rem;
  display: flex;

  &__header {
    &--heading {
      font-size: 19rem;
      font-weight: 300;
      margin: 0;
      font-size: 2.4rem;
      font-weight: 300;
      font-size: 19rem;
      writing-mode: vertical-rl;

      line-height: 0.7;
      //   margin-right: 5rem;
      min-height: 100.5rem;
      //   text-align: start;
      margin-left: auto;
    }
  }

  &__heading {
    color: $color-off-white;
    font-family: $font-intro-text;
    font-size: 10rem;
    font-weight: 400;
    // letter-spacing: 1.2rem;
    line-height: 10rem;
    //   margin-top: 0;
    margin: 4rem 0;
  }

  &__subheading {
    font-size: 5rem;
    color: $color-off-white;
    font-family: $font-intro-text;
    font-weight: 400;
    // letter-spacing: 1.2rem;
    line-height: 10rem;
    //   margin-top: 0;
    margin: 4rem 0;
  }

  &__content {
    padding: 0 9vw;

    h2 {
      // color: $color-off-white;
      // font-family: $font-intro-text;
      // font-size: 10rem;
      // font-weight: 400;
      // // letter-spacing: 1.2rem;
      // line-height: 10rem;
      // //   margin-top: 0;
      // margin: 4rem 0;
    }

    p {
      text-transform: none;
      font-size: 1.4rem;
      //   letter-spacing: 0.1rem;
      //   word-spacing: 0.1rem;
      font-weight: 300;
      opacity: 0.8;
    }

    &--about-container {
      max-width: 115rem;
    }

    &--tech {
      display: flex;
      gap: 4rem;
      margin-bottom: 10rem;

      & h3 {
        font-family: $font-intro-text;
        color: $color-off-white;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }

  &__links {
    padding: 4rem 0;
    display: flex;
    gap: 2.4rem;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__btn {
    font-family: $font-intro-text;
    font-size: 2.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: $color-off-white;
    color: $color-dark-grey;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    padding-bottom: 0.1rem;

    &:hover {
      background-color: transparent;
      border: transparent;
      color: $color-off-white;
    }
  }
}

.number {
  font-family: $font-heading;
  font-style: normal;

  &__01 {
    writing-mode: vertical-rl;
    font-size: 19rem;
    margin: 0;
    font-weight: 300;
    line-height: 0.7;
    border-bottom: 5px solid $color-off-white;
    width: min-content;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
  }
}
