.projects {
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  margin-top: 10rem;
  // background-color: $color-off-white;
  // color: $color-dark-grey;
  margin-bottom: 25rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 8%;

  &__header {
  }

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    width: 30rem;
    word-break: break-all;
    line-height: 0.8;
    position: fixed;
    top: 38rem;
    left: 11vw;
  }

  &__card {
    width: min-content;
    // display: flex;
    // margin-top: 15rem;
    margin-bottom: 15rem;
    transition: all 0.3s ease-in-out;
    // background-color: $color-off-white;
    height: min-content;
    border-radius: 1px;
    overflow: hidden;

    // margin-right: 10%;
    margin-left: auto;
    margin-left: 22vw;
    // margin-top: 10rem;

    &__text {
      width: 40rem;

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-top: 0rem;

      &__container {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color-off-white;
        padding-bottom: 0.2rem;
      }

      &--number h1 {
        color: $color-dark-grey;
        color: $color-off-white;
        font-weight: 300;
        font-size: 6.4rem;
        margin: 0;
      }

      &--headings {
        margin-left: 3.5rem;

        & h3 {
          text-transform: uppercase;
        }
        & h3,
        h4 {
          margin: 0;
          margin-top: 0.6rem;
          color: $color-off-white;
        }
      }
    }

    &__img {
      // width: 100%;
      // background-color: rgb(221, 36, 36);
    }
    &--001 {
      // border: 1px solid $color-off-white;
      // margin-left: 0;
      // margin-left: 10%;
      // margin-left: 22%;
    }

    &--002 {
      // display: flex;
      // flex-direction: column;
      // width: 100%;

      & .projects__card__img {
        width: min-content;
        // margin-left: auto;
      }
    }

    &__img {
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      // background-color: rgba(0,0,0,0.2);
    }

    &:hover .projects__card__img {
      // transform: scale(1.02);
    }

    &__wrapper {
      width: 100%;
    }

    &__headings {
      display: flex;
      justify-content: space-between;
      border-bottom: 1.5px solid $color-dark-grey;
      border-bottom: 1.5px solid $color-off-white;

      & h3 {
        color: $color-off-white;
        // color: $color-dark-grey;

        margin-bottom: 0.2rem;
        font-weight: 300;
        // font-family: 'Bebas Neue', cursive;
        // letter-spacing: .1rem;
        font-size: 4.2rem;
      }
    }

    &__subheading {
      display: flex;
      & h4 {
        color: $color-off-white;
        // color: $color-dark-grey;
        margin-top: 3rem;
      }
    }
  }
}

.number__02 {
  font-size: 19rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-off-white;
  padding-bottom: 3rem;
  line-height: 0.8;
  width: min-content;
  
  // border-color: $color-dark-grey;
  position: fixed;
  top: 16rem;
  left: 11vw;
}

.scroll-top {
  &__btn {
    text-align: center;
    width: min-content;
    margin-top: 5rem;
    padding-left: 6.2%;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__text {
    margin: 0;
  }

  &--arrow-up {
    width: 1.6rem;
  }
}
