.project__burgerlords {
  grid-column: 2 /3;
  grid-row: 2 / 3;
  margin-top: 10rem;
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 0rem;
  }

  &__header {
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    @media only screen and (max-width: $bp-large) {
      display: none;
    }

    &--heading {
      font-size: 19rem;
      font-weight: 300;
      margin: 0;
      font-size: 2.4rem;
      font-weight: 300;
      font-size: 19rem;
      writing-mode: vertical-rl;

      line-height: 0.7;
      //   margin-right: 5rem;
      min-height: 100.5rem;
      //   text-align: start;
      margin-left: auto;

      @media only screen and (max-width: $bp-large) {
        writing-mode: unset;
        min-height: unset;
        font-size: 17rem;
        padding: 0 15vw;
        word-break: break-all;
      }
    }
  }

  &__heading {
    color: $color-off-white;
    font-family: $font-intro-text;
    font-size: 10rem;
    font-weight: 400;
    line-height: 10rem;
    margin: 4rem 0;

    @media only screen and (max-width: $bp-x-medium) {
      font-size: 8rem;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 6rem;
    }
  }

  &__subheading {
    font-size: 5rem;
    color: $color-off-white;
    font-family: $font-intro-text;
    font-weight: 400;
    // letter-spacing: 1.2rem;
    // line-height: 10rem;
    //   margin-top: 0;
    margin: 4rem 0;
  }

  &__content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    padding: 0 15vw;

    p {
      text-transform: none;
      font-size: 1.4rem;
      //   letter-spacing: 0.1rem;
      //   word-spacing: 0.1rem;
      font-weight: 300;
      opacity: 0.8;
    }

    &--about-container {
      max-width: 115rem;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 7vw;
    }
  }

  &__banner {
    width: 100%;
    height: 30rem;
    background-color: white;

    @media only screen and (max-width: $bp-large) {
      height: 20rem;
    }

    @media only screen and (max-width: $bp-medium) {
      height: 15rem;
    }

    @media only screen and (max-width: $bp-small) {
      height: 10rem;
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50;
    }
  }

  &__links {
    padding: 4rem 0;
    display: flex;
    gap: 2.4rem;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__btn {
    font-family: $font-intro-text;
    font-size: 2.4rem;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: $color-off-white;
    color: $color-dark-grey;
    border-radius: 2px;
    padding: 0.5rem 1rem;
    padding-bottom: 0.1rem;

    &:hover {
      background-color: transparent;
      border: transparent;
      color: $color-off-white;
    }
  }

  &__animations-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24rem 0;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column-reverse;
    }

    &--text {
      padding-right: 6rem;

      @media only screen and (max-width: $bp-large) {
        padding: 0;
      }
    }
  }

  &__grid-showcase {
    &__container {
      margin-bottom: 24rem;
    }

    & img {
      width: 121rem;
      height: 65.5rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  &__photo-gallery-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24rem 0;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &--text {
      padding-right: 6rem;

      @media only screen and (max-width: $bp-large) {
        padding: 0;
      }
    }
  }

  &__mobile-friendly-showcase {
    margin: 24rem 0;

    & p {
      margin: 1.2rem auto;
    }

    &--grid-container {
      align-items: flex-end;
      display: flex;
      gap: 5rem;

      @media only screen and (max-width: $bp-small) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
      }
    }

    &--desktop {
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 /-1;
        grid-row: 1 / 2;
      }

      &-img {
        width: 30vw;
        border: 0.5vw solid black;

        @media only screen and (max-width: $bp-small) {
          width: 100%;
        }
      }
    }

    &--tablet {
      @media only screen and (max-width: $bp-small) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }

      &-img {
        width: 10vw;
        border: 0.5vw solid black;

        @media only screen and (max-width: $bp-small) {
          width: 100%;
        }
      }
    }

    &--mobile {
      @media only screen and (max-width: $bp-small) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &-img {
        width: 6vw;
        border: 0.5vw solid black;

        @media only screen and (max-width: $bp-small) {
          width: 50%;
          margin-left: auto;
        }
      }
    }
  }

  &__challenges-showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24rem 0;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &--text {
      padding-right: 6rem;
      max-width: 49.6rem;

      @media only screen and (max-width: $bp-large) {
        padding: 0;
        max-width: 100%;
      }
    }
  }

  &__tech-showcase {
    margin: 24rem 0;

    &--tech {
      display: flex;
      gap: 4rem;

      & h3 {
        font-family: $font-intro-text;
        color: $color-off-white;
        font-weight: 500;
        opacity: 0.8;
      }
    }
  }

  &__prev-next {
    margin: 24rem 0;
    width: 46.6rem;

    @media only screen and (max-width: $bp-x-medium) {
      width: 100%;
    }

    h2 {
      margin: 0;
      opacity: 0.8;
      transition: opacity 0.2s ease;

      @media only screen and (max-width: $bp-x-medium) {
        line-height: 8rem;
      }

      @media only screen and (max-width: $bp-small) {
        line-height: 5rem;
      }

      &:hover {
        opacity: 1;
      }
    }

    &__subheading {
    }
    p {
      margin: 0;
      text-transform: uppercase;

      @media only screen and (max-width: $bp-x-medium) {
        font-size: 1.2rem;
      }
    }

    a {
      text-decoration: none;
      color: inherit;
    }
    &--next {
      display: flex;
    }

    &__icon {
      width: 2rem;
      margin-left: 1rem;
    }
  }
}

.number {
  font-family: $font-heading;
  font-style: normal;

  &__01 {
    writing-mode: vertical-rl;
    font-size: 19rem;
    margin: 0;
    font-weight: 300;
    line-height: 0.7;
    border-bottom: 5px solid $color-off-white;
    width: min-content;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
  }
}

.video__container {
  max-width: 60rem;

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
  }
}
