.projects {
  width: 100%;
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  margin-top: 10rem;
  // background-color: $color-off-white;
  // color: $color-dark-grey;
  margin-bottom: 25rem;

  padding: 0 8%;

  &__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid $color-off-white;
    margin-bottom: 5rem;
  }

  &__heading {
    font-size: 19rem;
    font-weight: 300;
    margin: 0;
    word-break: break-all;
    // line-height: 0.8;
    // position: fixed;
    // top: 38rem;
    // left: 11vw;
    //  width: 30rem;

    //Option 2
    // font-family: "Bebas Neue", cursive;
    font-size: 2.4rem;
    // letter-spacing: 1.2rem;
    font-weight: 300;
  }

  &__subtext {
    margin-bottom: 10rem;
    font-size: 2.4rem;
    font-family: $font-intro-text;
    letter-spacing: 0.5rem;
    letter-spacing: 0.322vw;

    & .emoji {
      font-size: 5rem;
    }
  }
  &__card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15rem;
    transition: all 0.3s ease-in-out;
    // background-color: rgba(250, 249, 246, 1);
    height: min-content;
    overflow: hidden;

    &__container {
      width: 100%;
    }

    &__text {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      &__container {
        display: flex;
        align-items: center;
        border-bottom: 2px solid $color-off-white;
        padding-bottom: 0.2rem;
      }
    }

    &__img {
      transition: transform 0.2s ease-in-out;
      height: 43.9rem;
    }

    &__wrapper {
      width: 100%;
      padding: 0 5vw;
    }

    &__headings {
      display: flex;
      justify-content: space-between;
      border-bottom: 1.5px solid $color-dark-grey;
      border-bottom: 1.5px solid $color-off-white;

      & h3 {
        color: $color-off-white;
        // color: $color-dark-grey;

        margin-bottom: 0.2rem;
        font-weight: 300;
        // font-family: 'Bebas Neue', cursive;
        // letter-spacing: .1rem;
        font-size: 4.2rem;
      }
    }

    &__subheading {
      display: flex;
      & h4 {
        color: $color-dark-grey;
        color: $color-off-white;
        margin-top: 3rem;
      }
    }
  }
}

.number__02 {
  font-size: 19rem;
  font-weight: 300;
  margin: 0;
  margin-bottom: 5rem;
  border-bottom: 5px solid $color-off-white;
  padding-bottom: 3rem;
  line-height: 0.8;
  width: min-content;

  // border-color: $color-dark-grey;
  // position: fixed;
  // top: 16rem;
  // left: 11vw;
}

.scroll-top {
  &__btn {
    text-align: center;
    width: min-content;
    margin-top: 5rem;
    // padding-left: 6.2%;
    margin-left: auto;
    margin-right: auto;

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  &__text {
    margin: 0;
  }

  &--arrow-up {
    width: 1.6rem;
  }
}
